<div class="article-header">
<div class="article-headline-wrapper" data-anchor=".section-design" data-anim-type="fade" data-component-list="WordAnim" data-duration="0.5" data-reverse="true" data-start="a0t-85vh">
<h2 class="article-eyebrow typography-section-label" data-anchor=".section-design" data-anim-type="slide" data-component-list="WordAnim" data-duration="0.5" data-ease="0.1" data-ease-function="easeOutQuad" data-reverse="true" data-start="a0t-85vh" data-y="-4px">DESIGN</h2>
<p class="article-headline typography-section-headline gradient-text-blue" data-anchor=".section-design" data-anim-type="slide" data-component-list="WordAnim" data-duration="0.4" data-ease="0.1" data-ease-function="easeOutQuad" data-reverse="true" data-start="a0t-85vh" data-y="10px">Built to<br class="small"/> go places.</p>
</div>
</div>