<div class="tile tile-max-width-small">
<div class="tile-content">
<picture class="overview-design-sizes-design-sizes-endframe" data-lazy="" id="overview-design-sizes-design-sizes-endframe-2">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="13-inch and 15-inch MacBook Air back-to-back, showing size difference" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-sizes-design-sizes-endframe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_small.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_medium.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large_2x.jpg 2x"/>
<img alt="13-inch and 15-inch MacBook Air back-to-back, showing size difference" src="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg"/>
</picture>
</noscript>
<div class="size-labels" data-preserve-labels="">
<div class="size-wrapper">
<p aria-hidden="true" class="size size-1 typography-section-headline">13” <span class="typography-design-label">display</span></p>
</div>
<div class="size-wrapper">
<p aria-hidden="true" class="size size-2 typography-section-headline">15” <span class="typography-design-label">display</span></p>
</div>
</div>
</div>
</div>