<div class="article-subsections tiles grid">
<div class="subsection-size grid-item large-span-12" data-analytics-section-engagement="name:sizes">
<div class="tile tile-max-width-small">
<div class="tile-content">
<picture class="overview-design-sizes-design-sizes-endframe" data-lazy="" id="overview-design-sizes-design-sizes-endframe-2">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="13-inch and 15-inch MacBook Air back-to-back, showing size difference" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-sizes-design-sizes-endframe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_small.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_medium.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg, /v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large_2x.jpg 2x"/>
<img alt="13-inch and 15-inch MacBook Air back-to-back, showing size difference" src="/v/macbook-air/v/images/overview/design/sizes/design_sizes_endframe__ckfqlo8f44eq_large.jpg"/>
</picture>
</noscript>
<div class="size-labels" data-preserve-labels="">
<div class="size-wrapper">
<p aria-hidden="true" class="size size-1 typography-section-headline">13” <span class="typography-design-label">display</span></p>
</div>
<div class="size-wrapper">
<p aria-hidden="true" class="size size-2 typography-section-headline">15” <span class="typography-design-label">display</span></p>
</div>
</div>
</div>
</div>
<div class="tile-description typography-section-intro large-11 medium-12">
<h3 class="tile-subhead typography-section-intro">Two perfectly portable sizes.</h3>
<p>The 13‑inch MacBook Air is the ultimate on-the-go laptop, and the 15‑inch model gives you even more space onscreen for multitasking.<sup class="footnote footnote-number"><a aria-label="Footnote 3" data-modal-close="" href="#footnote-6">3</a></sup></p>
</div>
<div class="quicklook-ar-design ar-quicklook-container ar-quicklook-visible typography-eyebrow-reduced large-span-12">
<p>
<a aria-label="View MackBook Air 13 inch in AR" class="ar-link ar-colornav-swatch-skyblue selected" data-analytics-click="prop3:view macbook air m4 13 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 13 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-13in-sky-blue.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 13” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 15 inch in AR" class="ar-link ar-colornav-swatch-skyblue selected" data-analytics-click="prop3:view macbook air m4 15 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 15 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-15in-sky-blue.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 15” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 13 inch in AR" class="ar-link ar-colornav-swatch-silver" data-analytics-click="prop3:view macbook air m4 13 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 13 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-13in-silver.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 13” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 15 inch in AR" class="ar-link ar-colornav-swatch-silver" data-analytics-click="prop3:view macbook air m4 15 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 15 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-15in-silver.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 15” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 13 inch in AR" class="ar-link ar-colornav-swatch-starlight" data-analytics-click="prop3:view macbook air m4 13 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 13 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-13in-starlight.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 13” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 15 inch in AR" class="ar-link ar-colornav-swatch-starlight" data-analytics-click="prop3:view macbook air m4 15 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 15 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-15in-starlight.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 15” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 13 inch in AR" class="ar-link ar-colornav-swatch-midnight" data-analytics-click="prop3:view macbook air m4 13 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 13 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-13in-midnight.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 13” in AR</span>
</a>
</p>
<p>
<a aria-label="View MackBook Air 15 inch in AR" class="ar-link ar-colornav-swatch-midnight" data-analytics-click="prop3:view macbook air m4 15 inch in ar" data-analytics-intrapage-link="" data-analytics-title="view macbook air m4 15 inch in ar" href="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/ar/macbook-air-15in-midnight.usdz" rel="ar">
<img src="/v/macbook-air/v/images/overview/routers/quicklook_placeholder__eydmokp23oae_large.jpg"/>
<span>View MacBook Air 15” in AR</span>
</a>
</p>
</div>
</div>
<div class="subsection-color grid-item large-span-12" data-analytics-section-engagement="name:finishes gallery">
<div class="tile-description typography-section-intro large-11 medium-12">
<h3 class="tile-subhead typography-section-intro">A new color is in the air.</h3>
<p>Now with Sky Blue, four beautiful colors will have you on cloud nine. And every MacBook Air comes with a color-matched MagSafe charging cable.</p>
</div>
<div aria-label="finishes gallery" class="colornav-gallery gallery tile tile-max-width-small" data-analytics-gallery-id="finishes gallery" data-component-list="ColorGallery" id="finishes-gallery" role="group">
<div class="colornav-wrapper">
<fieldset class="colornav" data-analytics-gallery-id="finishes gallery" data-analytics-gallery-interaction-type="colornav">
<legend><span class="visuallyhidden">color picker</span></legend>
<ul class="colornav-items" role="tablist">
<li class="colornav-item" role="presentation">
<input aria-label="Sky Blue" class="colornav-value" data-ac-gallery-trigger="finishes-gallery-skyblue" id="finishes-gallery-item-1-trigger" name="finishes-gallery-value" type="radio" value="skyblue"/>
<label aria-hidden="true" class="colornav-link" for="finishes-gallery-item-1-trigger">
<span class="colornav-swatch colornav-swatch-skyblue">
<span class="colornav-label">Sky Blue</span>
</span>
</label>
</li>
<li class="colornav-item" role="presentation">
<input aria-label="Silver" class="colornav-value" data-ac-gallery-trigger="finishes-gallery-silver" id="finishes-gallery-item-2-trigger" name="finishes-gallery-value" type="radio" value="silver"/>
<label aria-hidden="true" class="colornav-link" for="finishes-gallery-item-2-trigger">
<span class="colornav-swatch colornav-swatch-silver">
<span class="colornav-label">Silver</span>
</span>
</label>
</li>
<li class="colornav-item" role="presentation">
<input aria-label="Starlight" class="colornav-value" data-ac-gallery-trigger="finishes-gallery-starlight" id="finishes-gallery-item-3-trigger" name="finishes-gallery-value" type="radio" value="starlight"/>
<label aria-hidden="true" class="colornav-link" for="finishes-gallery-item-3-trigger">
<span class="colornav-swatch colornav-swatch-starlight">
<span class="colornav-label">Starlight</span>
</span>
</label>
</li>
<li class="colornav-item" role="presentation">
<input aria-label="Midnight" class="colornav-value" data-ac-gallery-trigger="finishes-gallery-midnight" id="finishes-gallery-item-4-trigger" name="finishes-gallery-value" type="radio" value="midnight"/>
<label aria-hidden="true" class="colornav-link" for="finishes-gallery-item-4-trigger">
<span class="colornav-swatch colornav-swatch-midnight">
<span class="colornav-label">Midnight</span>
</span>
</label>
</li>
</ul>
</fieldset>
</div>
<div class="item-container">
<div class="gallery-item" data-analytics-gallery-item-id="skyblue" id="finishes-gallery-skyblue">
<figure class="finishes-grid finishes-grid-skyblue">
<div class="finishes-grid-item grid-item-top">
<picture class="overview-design-color-design-top-skyblue image-design-top" data-lazy="" id="overview-design-color-design-top-skyblue-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Front and top view of MacBook Air in Sky Blue color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-top-skyblue image-design-top">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_small.jpg, /v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_large.jpg, /v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_large_2x.jpg 2x"/>
<img alt="Front and top view of MacBook Air in Sky Blue color" src="/v/macbook-air/v/images/overview/design/color/design_top_skyblue__eepkvlvjzcia_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-side">
<picture class="overview-design-color-design-side-skyblue image-design-side" data-lazy="" id="overview-design-color-design-side-skyblue-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Side view of MacBook Air in Sky Blue color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-side-skyblue image-design-side">
<source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_large.jpg, /v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_large_2x.jpg 2x"/>
<img alt="Side view of MacBook Air in Sky Blue color" src="/v/macbook-air/v/images/overview/design/color/design_side_skyblue__dtyt9gw4nfiq_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-magsafe">
<picture class="overview-design-color-design-magsafe-skyblue image-design-magsafe" data-lazy="" id="overview-design-color-design-magsafe-skyblue-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="MacBook Air in Sky Blue color with color-matched MagSafe cable" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-magsafe-skyblue image-design-magsafe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_small.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_large.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_large_2x.jpg 2x"/>
<img alt="MacBook Air in Sky Blue color with color-matched MagSafe cable" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_skyblue__gii6y9jn1yai_large.jpg"/>
</picture>
</noscript>
</div>
</figure>
</div>
<div class="gallery-item" data-analytics-gallery-item-id="silver" id="finishes-gallery-silver">
<figure class="finishes-grid finishes-grid-silver">
<div class="finishes-grid-item grid-item-top">
<picture class="overview-design-color-design-top-silver image-design-top" data-lazy="" id="overview-design-color-design-top-silver-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Front and top view of MacBook Air in Silver color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-top-silver image-design-top">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_small.jpg, /v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_large.jpg, /v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_large_2x.jpg 2x"/>
<img alt="Front and top view of MacBook Air in Silver color" src="/v/macbook-air/v/images/overview/design/color/design_top_silver__dcf8hwixw2uu_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-side">
<picture class="overview-design-color-design-side-silver image-design-side" data-lazy="" id="overview-design-color-design-side-silver-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Side view of MacBook Air in Silver color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-side-silver image-design-side">
<source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_large.jpg, /v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_large_2x.jpg 2x"/>
<img alt="Side view of MacBook Air in Silver color" src="/v/macbook-air/v/images/overview/design/color/design_side_silver__bdptx3rkr9ua_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-magsafe">
<picture class="overview-design-color-design-magsafe-silver image-design-magsafe" data-lazy="" id="overview-design-color-design-magsafe-silver-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="MacBook Air in Silver color with color-matched MagSafe cable" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-magsafe-silver image-design-magsafe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_small.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_large.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_large_2x.jpg 2x"/>
<img alt="MacBook Air in Silver color with color-matched MagSafe cable" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_silver__cs8q03j5sve6_large.jpg"/>
</picture>
</noscript>
</div>
</figure>
</div>
<div class="gallery-item" data-analytics-gallery-item-id="starlight" id="finishes-gallery-starlight">
<figure class="finishes-grid finishes-grid-starlight">
<div class="finishes-grid-item grid-item-top">
<picture class="overview-design-color-design-top-starlight image-design-top" data-lazy="" id="overview-design-color-design-top-starlight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Front and top view of MacBook Air in Starlight color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-top-starlight image-design-top">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_small.jpg, /v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_large.jpg, /v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_large_2x.jpg 2x"/>
<img alt="Front and top view of MacBook Air in Starlight color" src="/v/macbook-air/v/images/overview/design/color/design_top_starlight__dtojfd6ibywm_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-side">
<picture class="overview-design-color-design-side-starlight image-design-side" data-lazy="" id="overview-design-color-design-side-starlight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Side view of MacBook Air in Starlight color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-side-starlight image-design-side">
<source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_large.jpg, /v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_large_2x.jpg 2x"/>
<img alt="Side view of MacBook Air in Starlight color" src="/v/macbook-air/v/images/overview/design/color/design_side_starlight__b5hvw5hkpjau_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-magsafe">
<picture class="overview-design-color-design-magsafe-starlight image-design-magsafe" data-lazy="" id="overview-design-color-design-magsafe-starlight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="MacBook Air in Starlight color with color-matched MagSafe cable" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-magsafe-starlight image-design-magsafe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_small.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_large.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_large_2x.jpg 2x"/>
<img alt="MacBook Air in Starlight color with color-matched MagSafe cable" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_starlight__zdcyiyigbpue_large.jpg"/>
</picture>
</noscript>
</div>
</figure>
</div>
<div class="gallery-item" data-analytics-gallery-item-id="midnight" id="finishes-gallery-midnight">
<figure class="finishes-grid finishes-grid-midnight">
<div class="finishes-grid-item grid-item-top">
<picture class="overview-design-color-design-top-midnight image-design-top" data-lazy="" id="overview-design-color-design-top-midnight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Front and top view of MacBook Air in Midnight color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-top-midnight image-design-top">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_small.jpg, /v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_large.jpg, /v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_large_2x.jpg 2x"/>
<img alt="Front and top view of MacBook Air in Midnight color" src="/v/macbook-air/v/images/overview/design/color/design_top_midnight__fvf2p6124tqq_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-side">
<picture class="overview-design-color-design-side-midnight image-design-side" data-lazy="" id="overview-design-color-design-side-midnight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Side view of MacBook Air in Midnight color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-side-midnight image-design-side">
<source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_large.jpg, /v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_large_2x.jpg 2x"/>
<img alt="Side view of MacBook Air in Midnight color" src="/v/macbook-air/v/images/overview/design/color/design_side_midnight__flnancj2vlme_large.jpg"/>
</picture>
</noscript>
</div>
<div class="finishes-grid-item grid-item-magsafe">
<picture class="overview-design-color-design-magsafe-midnight image-design-magsafe" data-lazy="" id="overview-design-color-design-magsafe-midnight-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="MacBook Air in Midnight color with color-matched MagSafe cable" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-color-design-magsafe-midnight image-design-magsafe">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_small.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_medium.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_large.jpg, /v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_large_2x.jpg 2x"/>
<img alt="MacBook Air in Midnight color with color-matched MagSafe cable" src="/v/macbook-air/v/images/overview/design/color/design_magsafe_midnight__d7pgfcooswmu_large.jpg"/>
</picture>
</noscript>
</div>
</figure>
</div>
</div>
</div>
</div>
<div class="subsection-lifestyle-gallery grid-item large-span-12" data-analytics-section-engagement="name:lifestyle gallery">
<div aria-label="Lifestyle Gallery" class="lifestyle-gallery" data-analytics-gallery-id="lifestyle gallery" data-component-list="LifestyleGallery" id="lifestyle-gallery" role="group">
<div class="item-container">
<div class="gallery-item" data-analytics-gallery-item-id="fits easily" id="lifestyle-gallery-item-1">
<div class="subsection-student-portability grid-item large-span-12">
<div class="tile-description typography-section-intro">
<p>Incredibly light and thin, MacBook Air <em>fits easily in your backpack.</em></p>
</div>
<div class="tile tile-max-width-small">
<div class="tile-content">
<picture class="overview-design-lifestyle-gallery-design-portability-1" data-lazy="" id="overview-design-lifestyle-gallery-design-portability-1-2">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="A student placing MacBook Air into their backpack" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-lifestyle-gallery-design-portability-1">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_small.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_medium.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_large.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_large_2x.jpg 2x"/>
<img alt="A student placing MacBook Air into their backpack" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_1__gfw34rh367u6_large.jpg"/>
</picture>
</noscript>
<div class="lifestyle-gallery-scrim"></div>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-analytics-gallery-item-id="work from anywhere" id="lifestyle-gallery-item-2">
<div class="subsection-stem grid-item large-span-12">
<div class="tile-description typography-section-intro">
<p>With <em>up to 18 hours of battery life,<sup class="footnote footnote-number"><a aria-label="Footnote 1" data-modal-close="" href="#footnote-4">1</a></sup></em> you can get work done anywhere you go.</p>
</div>
<div class="tile tile-max-width-small">
<div class="tile-content">
<picture class="overview-design-lifestyle-gallery-design-portability-2" data-lazy="" id="overview-design-lifestyle-gallery-design-portability-2-2">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Person in work environment seated on stool using MacBook Air unplugged on their lap while reaching for box on high shelf with other hand" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-lifestyle-gallery-design-portability-2">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_small.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_medium.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_large.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_large_2x.jpg 2x"/>
<img alt="Person in work environment seated on stool using MacBook Air unplugged on their lap while reaching for box on high shelf with other hand" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_2__e1065fp5a0ae_large.jpg"/>
</picture>
</noscript>
<div class="lifestyle-gallery-scrim"></div>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-analytics-gallery-item-id="game mode" id="lifestyle-gallery-item-3">
<div class="subsection-gaming grid-item large-span-12">
<div class="tile-description typography-section-intro">
<p>The impressive display on MacBook Air makes <em>TV, movies, and games look truly striking.</em></p>
</div>
<div class="tile tile-max-width-small">
<div class="tile-content">
<picture class="overview-design-lifestyle-gallery-design-portability-3" data-lazy="" id="overview-design-lifestyle-gallery-design-portability-3-2">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Three people on a couch watching full-screen video on MacBook Air" onload="__lp(event)" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_large.jpg"/>
</picture>
<noscript>
<picture class="overview-design-lifestyle-gallery-design-portability-3">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_small.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_medium.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_large.jpg, /v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_large_2x.jpg 2x"/>
<img alt="Three people on a couch watching full-screen video on MacBook Air" src="/v/macbook-air/v/images/overview/design/lifestyle-gallery/design_portability_3__b06jnvn3tjpy_large.jpg"/>
</picture>
</noscript>
<div class="lifestyle-gallery-scrim"></div>
</div>
</div>
</div>
</div>
</div>
<div class="lifestyle-gallery-captions">
<div aria-hidden="true" class="lifestyle-gallery-caption typography-section-label">MacBook Air 13”</div>
<div aria-hidden="true" class="lifestyle-gallery-caption typography-section-label">MacBook Air 13”</div>
<div aria-hidden="true" class="lifestyle-gallery-caption typography-section-label">MacBook Air 13”</div>
</div>
<div class="lifestyle-gallery-descriptions">
<div aria-hidden="true" class="tile-description typography-section-intro" tabindex="-1">
<p>Incredibly light and thin, MacBook Air <em>fits easily in your backpack.</em></p>
</div>
<div aria-hidden="true" class="tile-description typography-section-intro" tabindex="-1">
<p>With <em>up to 18 hours of battery life,<sup class="footnote footnote-number"><a aria-label="Footnote 1" data-modal-close="" href="#footnote-4">1</a></sup></em> you can get work done anywhere you go.</p>
</div>
<div aria-hidden="true" class="tile-description typography-section-intro" tabindex="-1">
<p>The impressive display on MacBook Air makes <em>TV, movies, and games look truly striking.</em></p>
</div>
</div>
<div class="paddlenav-container paddlenav-bottom">
<div class="lifestyle-gallery-controls">
<button aria-label="Hit play to automatically advance through more photos of MacBook Air in action." aria-label-pause="Pause lifestyle gallery" aria-label-play="Hit play to automatically advance through more photos of MacBook Air in action." class="lifestyle-gallery-control lifestyle-gallery-control-play-pause paused" data-analytics-click="prop3:play | lifestyle gallery" data-analytics-intrapage-link="" data-analytics-title="play | lifestyle gallery"></button>
</div>
<div class="paddlenav paddlenav-framed paddlenav-compact" data-analytics-gallery-interaction-type="paddlenav">
<ul>
<li><button aria-label="Previous" class="paddlenav-arrow paddlenav-arrow-previous"></button></li>
<li><button aria-label="Next" class="paddlenav-arrow paddlenav-arrow-next"></button></li>
</ul>
</div>
</div>
</div>
</div>
</div>