<picture aria-hidden="true" class="overview-performance-performance-hero-startframe start-frame" data-download-area-keyframe='{"start":"t - 200vh","end":"b + 200vh","disabledWhen":"no-enhance-xp"}' data-lazy="" id="overview-performance-performance-hero-startframe-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/performance/performance_hero_startframe__dgdkku3fkq82_large.jpg"/>
</picture>