<section class="section section-hero" data-analytics-section-engagement="name:hero" data-component-list="Hero LocalNavTrigger">
<div class="ribbon" data-analytics-activitymap-region-id="macbook air education ribbon">
<div class="ribbon-content-wrapper">
<div class="ribbon-content row">
<div class="column large-8 medium-12 large-centered">
<p>
								Buy MacBook Air <span data-edupricing-product="macbook-air-education" data-product-template="starting at ${price.display.smart}"></span> with education savings.<span class="footnote footnote-supglyph"><a aria-label="Footnote * symbol" data-modal-close="" href="#footnote-1">*</a></span>
<a aria-label="Shop Macbook air with education savings" class="ribbon-link more" data-analytics-title="shop - macbook air education savings" href="/us-edu/store">Shop</a>
</p>
</div>
</div>
</div>
</div>
<div class="gradient-background"></div>
<div class="content-container">
<div class="hero-headline-container">
<h1 class="product-name typography-hero-eyebrow">MacBook Air</h1>
<p class="product-headline large-centered typography-hero-headline gradient-text-blue">Speed of lightness.</p>
</div>
<div class="inline-media with-static" data-component-list="InlineMedia">
<picture aria-hidden="true" class="overview-hero-hero-startframe start-frame" data-download-area-keyframe='{"start":"t - 200vh","end":"b + 500vh","disabledWhen":"no-enhance-xp"}' data-lazy="" id="overview-hero-hero-startframe-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_large.png"/>
</picture>
<noscript>
<picture class="overview-hero-hero-startframe start-frame">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_small.png, /v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_small_2x.png 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_medium.png, /v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_medium_2x.png 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_large.png, /v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_large_2x.png 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/hero/hero_startframe__c0rhv2ultfau_large.png"/>
</picture>
</noscript>
<video aria-label="Animation of two MacBook Air laptops in Sky Blue color opening into arrow shape, emphasizing narrow profile" class="video" data-alpha="" data-inline-media="" data-inline-media-basepath="/105/media/us/macbook-air/2025/0833fe28-c438-4dc4-8edc-e39ef30df5f9/anim/hero/" data-inline-media-load-keyframe='{"start": "t - 200vh", "end": "b + 500vh"}' data-inline-media-pause-on-exit="false" data-inline-media-play-keyframe='{"start": "t - 150vh", "end": "b + 400vh"}' data-inline-media-plugins="DisableOnBreakpointChange, AnimLoad, ViewportSource, LoadTimeout, AnimPlayOnce" data-inline-media-reset-on-exit="false" muted="" playsinline="" preload="none" role="img"></video>
<picture aria-hidden="true" class="overview-hero-hero-endframe end-frame" data-download-area-keyframe='{"start":"t - 200vh","end":"b + 500vh","disabledWhen":"no-enhance-xp"}' data-lazy="" id="overview-hero-hero-endframe-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_large.png"/>
</picture>
<noscript>
<picture class="overview-hero-hero-endframe end-frame">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_small.png, /v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_small_2x.png 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_medium.png, /v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_medium_2x.png 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_large.png, /v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_large_2x.png 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/hero/hero_endframe__c67cz35iy9me_large.png"/>
</picture>
</noscript>
<picture class="overview-hero-hero-static static-frame" data-download-area-keyframe='{"start":"t - 200vh","end":"b + 500vh","disabledWhen":"enhance-xp"}' data-lazy="" id="overview-hero-hero-static-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Two open MacBook Air laptops in Sky Blue color forming arrow shape, emphasizing narrow profile" onload="__lp(event)" src="/v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_large.png"/>
</picture>
<noscript>
<picture class="overview-hero-hero-static static-frame">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_small.png, /v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_small_2x.png 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_medium.png, /v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_medium_2x.png 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_large.png, /v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_large_2x.png 2x"/>
<img alt="Two open MacBook Air laptops in Sky Blue color forming arrow shape, emphasizing narrow profile" src="/v/macbook-air/v/images/overview/hero/hero_static__c9sislzzicq6_large.png"/>
</picture>
</noscript>
</div>
<div class="hero-copy-container typography-avail-copy">
<div class="apple-intelligence-container">
<p class="typography-headline-hero-ai apple-intelligence-text">Built for Apple Intelligence.</p>
</div>
<div class="button-container">
<a aria-label="Buy, MacBook Air" class="button button-elevated" data-analytics-title="buy - macbook air 13 and 15 inch" href="/us/shop/goto/buy_mac/macbook_air">
							Buy
						</a>
</div>
<div class="pricing-copy-container" data-pricing-hide="macbook-air-main">
<p><span data-pricing-product="macbook-air-main" data-product-template="${price.display.from}"></span><span data-toggle="acmi"><span data-pricing-product="macbook-air-main" data-product-template=" or ${price.display.perMonth} for ${price.display.months} mo."></span><span class="footnote footnote-supglyph"><a aria-label="Footnote ** symbol" data-modal-close="" href="#footnote-2">**</a></span></span>
</p>
</div>
<div class="hero-body-copy section-content">
<p class="typography-section-intro-elevated large-10 small-12 large-centered">MacBook Air is the world’s most popular laptop for a reason. Actually, for a lot of reasons. It delivers <em>up to 18 hours of battery life.<sup class="footnote footnote-number"><a aria-label="Footnote 1" data-modal-close="" href="#footnote-4">1</a></sup></em> The <em>M4 chip</em> unlocks a whole new level of performance for work and play. <em>Apple Intelligence</em> is built in to help you get things done effortlessly.<sup class="footnote footnote-number"><a aria-label="Footnote 2" data-modal-close="" href="#footnote-5">2</a></sup> And it now comes in a stunning Sky Blue color. With the perfectly portable MacBook Air, you’ll be ready to take on just about anything, anywhere.</p>
</div>
</div>
</div>
</section>