<nav aria-label="Apple Directory" class="ac-gf-directory with-5-columns" role="navigation">
<div class="ac-gf-directory-column">
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Shop and Learn</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Shop and Learn</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-products" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="store" href="/us/shop/goto/store">Store</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="mac" href="/mac/">Mac</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="ipad" href="/ipad/">iPad</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="iphone" href="/iphone/">iPhone</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="watch" href="/watch/">Watch</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="vision" href="/apple-vision-pro/">Vision</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="airpods" href="/airpods/">AirPods</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="tv and home" href="/tv-home/">TV &amp; Home</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="airtag" href="/airtag/">AirTag</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="accessories" href="/us/shop/goto/buy_accessories">Accessories</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="gift cards" href="/us/shop/goto/giftcards">Gift Cards</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Apple Wallet</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Apple Wallet</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-applewallet" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="wallet" href="/wallet/">Wallet</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple card" href="/apple-card/">Apple Card</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple pay" href="/apple-pay/">Apple Pay</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple cash" href="/apple-cash/">Apple Cash</a></li>
</ul>
</div>
</div>
<div class="ac-gf-directory-column">
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Account</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Account</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-accounts" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-exit-link="" data-analytics-title="apple account" href="https://account.apple.com/">Manage Your Apple Account</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple store account" href="/us/shop/goto/account">Apple Store Account</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-exit-link="" data-analytics-title="icloud.com" href="https://www.icloud.com">iCloud.com</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Entertainment</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Entertainment</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-entertainment" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple one" href="/apple-one/">Apple One</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple tv plus" href="/apple-tv-plus/">Apple TV+</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple music" href="/apple-music/">Apple Music</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple arcade" href="/apple-arcade/">Apple Arcade</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple fitness plus" href="/apple-fitness-plus/">Apple Fitness+</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple news plus" href="/apple-news/">Apple News+</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple podcasts" href="/apple-podcasts/">Apple Podcasts</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple books" href="/apple-books/">Apple Books</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="app store" href="/app-store/">App Store</a></li>
</ul>
</div>
</div>
<div class="ac-gf-directory-column">
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Apple Store</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Apple Store</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-storeservices" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="find a store" href="/retail/">Find a Store</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="genius bar" href="/retail/geniusbar/">Genius Bar</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="today at apple" href="/today/">Today at Apple</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="group reservations" href="/today/groups/">Group Reservations</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple camp" href="/today/camp/">Apple Camp</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-exit-link="" data-analytics-title="apple store app" href="https://apps.apple.com/us/app/apple-store/id375380948">Apple Store App</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="certified refurbished" href="/us/shop/goto/special_deals">Certified Refurbished</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple trade in" href="/us/shop/goto/trade_in">Apple Trade In</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="financing" href="/us/shop/goto/payment_plan">Financing</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="carrier deals at apple" href="/us/shop/goto/buy_iphone/carrier_offers">Carrier Deals at Apple</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="order status" href="/us/shop/goto/order/list">Order Status</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shopping help" href="/us/shop/goto/help">Shopping Help</a></li>
</ul>
</div>
</div>
<div class="ac-gf-directory-column">
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">For Business</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">For Business</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-business" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple and business" href="/business/">Apple and Business</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for business" href="/retail/business/">Shop for Business</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">For Education</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">For Education</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-education" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple and education" href="/education/">Apple and Education</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for k12" href="/education/k12/how-to-buy/">Shop for K-12</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for college" href="/us/shop/goto/educationrouting">Shop for College</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">For Healthcare</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">For Healthcare</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-healthcare" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple and healthcare" href="/healthcare/">Apple and Healthcare</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">For Government</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">For Government</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-government" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple and government" href="/government/">Apple and Government</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for veterans and military" href="/us/shop/goto/eppstore/veteransandmilitary">Shop for Veterans and Military</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for state and local employees" href="/us_epp_67909/store">Shop for State and Local Employees</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="shop for federal employees" href="/us_epp_55499/store">Shop for Federal Employees</a></li>
</ul>
</div>
</div>
<div class="ac-gf-directory-column">
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">Apple Values</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">Apple Values</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-responsibility" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="accessibility" href="/accessibility/">Accessibility</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="education" href="/education-initiative/">Education</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="environment" href="/environment/">Environment</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="inclusion and diversity" href="/diversity/">Inclusion and Diversity</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="privacy" href="/privacy/">Privacy</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="racial equity and justice" href="/racial-equity-justice-initiative/">Racial Equity and Justice</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="supply chain innovation" href="/supply-chain/">Supply Chain Innovation</a></li>
</ul>
</div>
<div class="ac-gf-directory-column-section">
<h3 class="ac-gf-directory-column-section-title">
<span class="ac-gf-directory-column-section-title-text">About Apple</span>
<button class="ac-gf-directory-column-section-title-button" disabled="">
<span class="ac-gf-directory-column-section-title-text">About Apple</span>
<span aria-hidden="true" class="ac-gf-directory-column-section-title-icon"></span>
</button>
</h3>
<ul class="ac-gf-directory-column-section-list" id="footer-directory-column-section-about" role="list">
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="newsroom" href="/newsroom/">Newsroom</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="apple leadership" href="/leadership/">Apple Leadership</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="career opportunities" href="/careers/us/">Career Opportunities</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-exit-link="" data-analytics-title="investors" href="https://investor.apple.com/">Investors</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="ethics and compliance" href="/compliance/">Ethics &amp; Compliance</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="events" href="/apple-events/">Events</a></li>
<li class="ac-gf-directory-column-section-item" role="listitem"><a class="ac-gf-directory-column-section-link" data-analytics-title="contact apple" href="/contact/">Contact Apple</a></li>
</ul>
</div>
</div>
</nav>