<nav aria-label="Breadcrumbs" class="ac-gf-breadcrumbs" role="navigation">
<a class="home ac-gf-breadcrumbs-home" href="/">
<span aria-hidden="true" class="ac-gf-breadcrumbs-home-icon"></span>
<span class="ac-gf-breadcrumbs-home-label">Apple</span>
<span class="ac-gf-breadcrumbs-home-chevron"></span>
<span class="ac-gf-breadcrumbs-home-mask"></span>
</a>
<div class="ac-gf-breadcrumbs-path">
<ol class="ac-gf-breadcrumbs-list" typeof="BreadcrumbList" vocab="http://schema.org/">
<li class="ac-gf-breadcrumbs-item" property="itemListElement" typeof="ListItem">
<a class="ac-gf-breadcrumbs-link" href="/mac/" property="item" typeof="WebPage"><span property="name">Mac</span></a>
<meta content="1" property="position"/>
</li>
<li class="ac-gf-breadcrumbs-item" property="itemListElement" typeof="ListItem">
<span property="name">MacBook Air</span>
<meta content="2" property="position"/>
</li>
</ol>
</div>
</nav>