<div class="performance-modal-content modal-content modal-display" data-analytics-activitymap-region-id="modal content" data-modal-close-label="Close" id="modal-performance">
<div class="modal-content-wrapper" data-component-list="PerformanceGalleryScrollGroup" data-modal-id="modal-performance" data-trigger=".modal-graph-trigger">
<div class="mx-chips">
<div class="section-content-container">
<div class="section-content">
<h2 class="visuallyhidden" id="modal-headline">More about M4 chip and Performance</h2>
<p class="typography-modal-headline modal-headline gradient-text-blue">M4. The chip that zips.</p>
<div class="article-copy large-9 medium-11 small-12 typography-section-intro-elevated">
<p>Apple silicon combines a powerful CPU and GPU, memory, and more on a single chip, making <em>all your apps — from Microsoft 365 Copilot to Adobe Creative Cloud —</em> run faster while requiring less power.</p>
</div>
</div>
</div>
<div class="modal-background-container modal-display-subsection hardware">
<picture class="overview-performance-modal-modal-hero modal-hero-image" data-download-area-keyframe='{"start": "a0t - 100a1t", "end": "a1b - 100vh", "anchors":[".page-overview", ".section-performance"]}' id="overview-performance-modal-modal-hero-1" lazy-load="true">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_small.jpg, /v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_small_2x.jpg 2x"/>
<source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_medium.jpg, /v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_medium_2x.jpg 2x"/>
<source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_large.jpg, /v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_large_2x.jpg 2x"/>
<img alt="MacBook Air screen showing gaming to demonstrate M4 chip capabilities" onload="__lp(event)" src="/v/macbook-air/v/images/overview/performance/modal/modal_hero__dxdbuechqpea_large.jpg"/>
</picture>
<div class="hardware-sniper section-content-container">
<div class="sniper-wrap">
<p class="snipe typography-section-label">Sid Meier’s Civilization® VII</p>
</div>
</div>
</div>
<div class="section-content-container">
<div class="section-content">
<div class="article-copy-2 large-9 medium-11 small-12 typography-section-intro-elevated">
<p>The M4 chip in MacBook Air makes graphics and gaming look better than ever. With <em>second-generation hardware-accelerated ray tracing,</em> you get more realistic images for truly immersive gaming. And Dynamic Caching drives a huge performance boost for pro apps and games. So everything you do feels less like work and more like play.</p>
</div>
</div>
</div>
</div>
<div class="modal-background-container">
<div class="section-content-container">
<div class="section-content">
<div class="subsection-gallery" data-analytics-activitymap-region-id="modal galleries">
<div class="gallery-content vs-previous-models-gallery" data-gallery-toggle="" id="vs-previous-models-gallery">
<h3 class="graph-headline typography-eyebrow-super large-10 medium-12">M4 compared to previous MacBook Air models.</h3>
<div aria-label="Performance gallery for 13-inch and 15-inch MacBook Air with M4 chip" class="gallery-toggle">
<div class="toggle-wrap" data-analytics-gallery-id="macbook air m4 compare gallery" role="tablist">
<button aria-controls="gallery-toggle-vs-previous-models-gallery" aria-select="true" class="model-toggle" data-analytics-gallery-item-id="13 inch toggle" id="13-inch-toggle" role="tab">13” model</button>
<button aria-controls="gallery-toggle-vs-previous-models-gallery" aria-select="false" class="model-toggle" data-analytics-gallery-item-id="15 inch toggle" id="15-inch-toggle" role="tab">15” model</button>
</div>
<div class="gallery-container">
<div aria-hidden="false" aria-label="macbook air 13 inch m4 compare gallery" class="macbook-air-13-inch-model-gallery graph-gallery" data-analytics-gallery-id="macbook air 13 inch m4 compare gallery" data-component-list="PerformanceGallery" data-kfstart="" id="13-inch-model-m4-compare" role="group">
<div class="tablist-wrapper">
<div class="tabnav" data-analytics-gallery-interaction-type="tabnav">
<ul class="tabnav-items" role="tablist">
<li class="tabnav-item current" role="presentation">
<a class="tabnav-link current" data-ac-gallery-trigger="13-inch-model-gallery-item-1" href="#13-inch-model-gallery-item-1-ai-image-upscaling" id="13-inch-model-gallery-item-1-trigger" role="tab" tabindex="0">AI image upscaling</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="13-inch-model-gallery-item-2" href="#13-inch-model-gallery-item-2-excel-calculations" id="13-inch-model-gallery-item-2-trigger" role="tab" tabindex="-1">Excel calculations</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="13-inch-model-gallery-item-3" href="#13-inch-model-gallery-item-3-gaming" id="13-inch-model-gallery-item-3-trigger" role="tab" tabindex="-1">Gaming</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="13-inch-model-gallery-item-4" href="#13-inch-model-gallery-item-4-photo-editing" id="13-inch-model-gallery-item-4-trigger" role="tab" tabindex="-1">Photo editing</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="13-inch-model-gallery-item-5" href="#13-inch-model-gallery-item-5-video-editing" id="13-inch-model-gallery-item-5-trigger" role="tab" tabindex="-1">Video editing</a>
</li>
</ul>
<div class="tabnav-paddles">
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-left" disabled=""></button>
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-right" disabled=""></button>
</div>
</div>
</div>
<div class="item-container">
<div class="gallery-item current" data-ac-gallery-item="" data-analytics-gallery-item-id="ai image upscaling" data-index="0" id="13-inch-model-gallery-item-1">
<p class="disclaimer">Faster AI photo resolution enhancement<sup class="footnote footnote-number"><a aria-label="Footnote 7" data-modal-close="" href="#footnote-10">7</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="23">
<hr aria-hidden="true" class="bar bar-1">
</hr></div>
<span class="bar-caption">13‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">23</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="20.9">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="14.5">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="excel calculations" data-index="1" id="13-inch-model-gallery-item-2">
<p class="disclaimer">Faster spreadsheet calculation performance<sup class="footnote footnote-number"><a aria-label="Footnote 8" data-modal-close="" href="#footnote-11">8</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="4.7">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">4.7</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="4">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="3">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="gaming" data-index="2" id="13-inch-model-gallery-item-3">
<p class="disclaimer">Faster gaming performance<sup class="footnote footnote-number"><a aria-label="Footnote 9" data-modal-close="" href="#footnote-12">9</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="1.6">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">1.6</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="1.4">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="photo editing" data-index="3" id="13-inch-model-gallery-item-4">
<p class="disclaimer">Faster image filters and effects performance<sup class="footnote footnote-number"><a aria-label="Footnote 10" data-modal-close="" href="#footnote-13">10</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="3.6">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">3.6</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="3.3">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="1.8">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="video editing" data-index="4" id="13-inch-model-gallery-item-5">
<p class="disclaimer">Faster scene edit detection performance<sup class="footnote footnote-number"><a aria-label="Footnote 11" data-modal-close="" href="#footnote-14">11</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="18">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">18</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="17.4">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="8.6">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div aria-hidden="true" aria-label="macbook air 15 inch m4 compare gallery" class="macbook-air-15-inch-model-gallery graph-gallery hidden" data-analytics-gallery-id="macbook air 15 inch m4 compare gallery" data-component-list="PerformanceGallery" data-kfstart="" id="15-inch-model-m4-compare" role="group">
<div class="tablist-wrapper">
<div class="tabnav" data-analytics-gallery-interaction-type="tabnav">
<ul class="tabnav-items" role="tablist">
<li class="tabnav-item current" role="presentation">
<a class="tabnav-link current" data-ac-gallery-trigger="15-inch-model-gallery-item-1" href="#15-inch-model-gallery-item-1-ai-image-upscaling" id="15-inch-model-gallery-item-1-trigger" role="tab" tabindex="0">AI image upscaling</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="15-inch-model-gallery-item-2" href="#15-inch-model-gallery-item-2-excel-calculations" id="15-inch-model-gallery-item-2-trigger" role="tab" tabindex="-1">Excel calculations</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="15-inch-model-gallery-item-3" href="#15-inch-model-gallery-item-3-gaming" id="15-inch-model-gallery-item-3-trigger" role="tab" tabindex="-1">Gaming</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="15-inch-model-gallery-item-4" href="#15-inch-model-gallery-item-4-photo-editing" id="15-inch-model-gallery-item-4-trigger" role="tab" tabindex="-1">Photo editing</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="15-inch-model-gallery-item-5" href="#15-inch-model-gallery-item-5-video-editing" id="15-inch-model-gallery-item-5-trigger" role="tab" tabindex="-1">Video editing</a>
</li>
</ul>
<div class="tabnav-paddles">
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-left" disabled=""></button>
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-right" disabled=""></button>
</div>
</div>
</div>
<div class="item-container">
<div class="gallery-item current" data-ac-gallery-item="" data-analytics-gallery-item-id="ai image upscaling" data-index="0" id="15-inch-model-gallery-item-1">
<p class="disclaimer">Faster AI photo resolution enhancement<sup class="footnote footnote-number"><a aria-label="Footnote 12" data-modal-close="" href="#footnote-15">12</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="23">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">23</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="20.9">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="14.5">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="excel calculations" data-index="1" id="15-inch-model-gallery-item-2">
<p class="disclaimer">Faster spreadsheet calculation performance<sup class="footnote footnote-number"><a aria-label="Footnote 13" data-modal-close="" href="#footnote-16">13</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="4.7">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">4.7</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="4.1">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="3">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="gaming" data-index="2" id="15-inch-model-gallery-item-3">
<p class="disclaimer">Faster gaming performance<sup class="footnote footnote-number"><a aria-label="Footnote 14" data-modal-close="" href="#footnote-17">14</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="1.9">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">1.9</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="1.8">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="photo editing" data-index="3" id="15-inch-model-gallery-item-4">
<p class="disclaimer">Faster image filters and effects performance<sup class="footnote footnote-number"><a aria-label="Footnote 15" data-modal-close="" href="#footnote-18">15</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="3.6">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">3.6</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="3.3">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="1.8">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="video editing" data-index="4" id="15-inch-model-gallery-item-5">
<p class="disclaimer">Faster scene edit detection performance<sup class="footnote footnote-number"><a aria-label="Footnote 16" data-modal-close="" href="#footnote-19">16</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="18">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">18</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-mba-m3 no-badge">
<div class="bar-mask" data-bar-width="17.2">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">15‑inch MacBook Air with M3</span>
</div>
<div class="bar-content-container bar-mba-m1 no-badge">
<div class="bar-mask" data-bar-width="8.6">
<hr aria-hidden="true" class="bar bar-3"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with M1</span>
</div>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-4"/>
</div>
<span class="bar-caption">13‑inch MacBook Air with quad-core Intel Core i7 (baseline)</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="gallery-container">
<h3 class="graph-headline pc-gallery-headline typography-eyebrow-super medium-10 small-12">M4 compared to a PC laptop with Intel Core Ultra 7.</h3>
<div aria-label="macbook air m4 vs pc i7 compare gallery" class="compare-modal-gallery graph-gallery" data-analytics-gallery-id="macbook air m4 vs pc i7 compare gallery" data-component-list="PerformanceGallery" data-kfstart="t - 85vh" id="macbook-air-m4-pc-compare" role="group">
<div class="tablist-wrapper">
<div class="tabnav" data-analytics-gallery-interaction-type="tabnav">
<ul class="tabnav-items" role="tablist">
<li class="tabnav-item current" role="presentation">
<a class="tabnav-link current" data-ac-gallery-trigger="compare-gallery-gallery-item-1" href="#compare-gallery-gallery-item-1-ai-image-upscaling" id="compare-gallery-gallery-item-1-trigger" role="tab" tabindex="0">AI image upscaling</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="compare-gallery-gallery-item-2" href="#compare-gallery-gallery-item-2-code-compiling-on-battery" id="compare-gallery-gallery-item-2-trigger" role="tab" tabindex="-1">Code compiling on battery</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="compare-gallery-gallery-item-3" href="#compare-gallery-gallery-item-3-photo-editing" id="compare-gallery-gallery-item-3-trigger" role="tab" tabindex="-1">Photo editing</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="compare-gallery-gallery-item-4" href="#compare-gallery-gallery-item-4-web-browsing" id="compare-gallery-gallery-item-4-trigger" role="tab" tabindex="-1">Web browsing</a>
</li>
<span aria-hidden="true" class="separator">/</span>
<li class="tabnav-item" role="presentation">
<a class="tabnav-link" data-ac-gallery-trigger="compare-gallery-gallery-item-5" href="#compare-gallery-gallery-item-5-video-editing" id="compare-gallery-gallery-item-5-trigger" role="tab" tabindex="-1">Video editing</a>
</li>
</ul>
<div class="tabnav-paddles">
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-left" disabled=""></button>
<button aria-hidden="true" class="tabnav-paddle tabnav-paddle-right" disabled=""></button>
</div>
</div>
</div>
<div class="item-container">
<div class="gallery-item current" data-ac-gallery-item="" data-analytics-gallery-item-id="ai image upscaling" data-index="0" id="compare-gallery-gallery-item-1">
<p class="disclaimer">Faster AI photo resolution enhancement<sup class="footnote footnote-number"><a aria-label="Footnote 17" data-modal-close="" href="#footnote-20">17</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="6">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">6</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">PC laptop with Intel Core Ultra 7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="code compiling on battery" data-index="1" id="compare-gallery-gallery-item-2">
<p class="disclaimer">More project builds per charge<sup class="footnote footnote-number"><a aria-label="Footnote 18" data-modal-close="" href="#footnote-21">18</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="2">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">2</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">PC laptop with Intel Core Ultra 7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="photo editing" data-index="2" id="compare-gallery-gallery-item-3">
<p class="disclaimer">Faster photo editing performance<sup class="footnote footnote-number"><a aria-label="Footnote 19" data-modal-close="" href="#footnote-22">19</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="2.2">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">2.2</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">PC laptop with Intel Core Ultra 7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="web browsing" data-index="3" id="compare-gallery-gallery-item-4">
<p class="disclaimer">Faster web application responsiveness<sup class="footnote footnote-number"><a aria-label="Footnote 20" data-modal-close="" href="#footnote-23">20</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="1.6">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">1.6</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">PC laptop with Intel Core Ultra 7 (baseline)</span>
</div>
</div>
</div>
</div>
<div class="gallery-item" data-ac-gallery-item="" data-analytics-gallery-item-id="video editing" data-index="4" id="compare-gallery-gallery-item-5">
<p class="disclaimer">Faster scene edit detection performance<sup class="footnote footnote-number"><a aria-label="Footnote 21" data-modal-close="" href="#footnote-24">21</a></sup></p>
<div class="group total-column-1">
<div class="bars-container">
<div class="bar-content-container bar-mba">
<div class="bar-mask" data-bar-width="1.9">
<hr aria-hidden="true" class="bar bar-1"/>
</div>
<span class="bar-caption">MacBook Air with M4</span>
</div>
<figure class="badge bar-mba">
<div class="badge-content">
<div class="badge-value-container">
<span class="badge-value">1.9</span>
<span class="badge-unit">x</span>
</div>
<span class="badge-caption"></span>
</div>
</figure>
<div class="bar-content-container bar-baseline no-badge">
<div class="bar-mask" data-bar-width="">
<hr aria-hidden="true" class="bar bar-2"/>
</div>
<span class="bar-caption">PC laptop with Intel Core Ultra 7 (baseline)</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>