<section class="ac-gf-buystrip" data-analytics-region="buy strip" data-analytics-section-engagement="name:buy strip">
<div class="ac-gf-buystrip-info with-3-columns">
<section class="ac-gf-buystrip-info-column ac-gf-buystrip-info-financing" data-analytics-region="financing">
<div class="ac-gf-buystrip-info-content">
<figure class="ac-gf-buystrip-info-icon ac-gf-buystrip-info-icon-financing"></figure>
<h3 class="ac-gf-buystrip-info-title">Pay monthly at 0% APR</h3>
<p class="ac-gf-buystrip-info-copy">You can pay over time when you choose to check out at Apple with Apple Card Monthly Installments.†</p>
<a class="ac-gf-buystrip-info-cta ac-gf-more" data-analytics-title="apple financing" href="/apple-card/monthly-installments/">Learn more</a>
</div>
</section>
<section class="ac-gf-buystrip-info-column ac-gf-buystrip-info-shipping" data-analytics-region="shipping">
<div class="ac-gf-buystrip-info-content">
<figure class="ac-gf-buystrip-info-icon ac-gf-buystrip-info-icon-shipping"></figure>
<h3 class="ac-gf-buystrip-info-title">Fast delivery or pickup</h3>
<p class="ac-gf-buystrip-info-copy">Enjoy two-hour delivery from an Apple Store, free delivery, or easy pickup.</p>
<a class="ac-gf-buystrip-info-cta ac-gf-more" data-analytics-title="shipping and delivery" href="/us/shop/goto/shipping_and_returns">Learn more</a>
</div>
</section>
<section class="ac-gf-buystrip-info-column ac-gf-buystrip-info-help" data-analytics-region="help">
<div class="ac-gf-buystrip-info-content">
<figure class="ac-gf-buystrip-info-icon ac-gf-buystrip-info-icon-help"></figure>
<h3 class="ac-gf-buystrip-info-title">Get help buying</h3>
<p class="ac-gf-buystrip-info-copy">Have a question? Call a Specialist or chat online.</p>
<a class="ac-gf-buystrip-info-cta ac-gf-buystrip-info-cta-chat ac-gf-more" data-analytics-exit-link="" data-analytics-title="get help buying" href="https://contactretail.apple.com/?pg=COM:macbook-air&amp;ap=COM&amp;c=us&amp;l=en&amp;ag=FASTPASS">Contact us</a>
</div>
</section>
</div>
</section>