<section class="ac-gf-buystrip-info-column ac-gf-buystrip-info-financing" data-analytics-region="financing">
<div class="ac-gf-buystrip-info-content">
<figure class="ac-gf-buystrip-info-icon ac-gf-buystrip-info-icon-financing"></figure>
<h3 class="ac-gf-buystrip-info-title">Pay monthly at 0% APR</h3>
<p class="ac-gf-buystrip-info-copy">You can pay over time when you choose to check out at Apple with Apple Card Monthly Installments.†</p>
<a class="ac-gf-buystrip-info-cta ac-gf-more" data-analytics-title="apple financing" href="/apple-card/monthly-installments/">Learn more</a>
</div>
</section>