<section class="section section-routers">
<div class="router-grid-wrapper">
<div class="router-grid grid">
<div class="router-item router-item-accessories full-width full-split" data-analytics-section-engagement="name:accessories">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-eyebrow">Accessories</h2>
<h3 class="router-item-headline">Explore Mac accessories.</h3>
<p class="router-button">
<a aria-label="Shop Mac accessories" class="button" data-analytics-title="shop accessories" href="/us/shop/goto/mac/accessories">Shop</a>
</p>
</div>
<div class="router-item-picture align-end">
<picture class="overview-routers-accessories" data-lazy="" id="overview-routers-accessories-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Mac accessories: AirPods, Studio Display, Magic Keyboard, Magic Mouse, Magic Trackpad, MagSafe charge cable in Midnight color" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-accessories">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_small.jpg, /v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_medium.jpg, /v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_large.jpg, /v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_large_2x.jpg 2x"/>
<img alt="Mac accessories: AirPods, Studio Display, Magic Keyboard, Magic Mouse, Magic Trackpad, MagSafe charge cable in Midnight color" src="/v/macbook-air/v/images/overview/routers/accessories__fbw0ne5ig5iu_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-help-me-choose" data-analytics-section-engagement="name:help me choose">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-eyebrow">Help Me Choose</h2>
<h3 class="router-item-headline">Find the best Mac for you.</h3>
<p class="router-item-cta"> <a aria-label="Get started, help me choose a Mac" class="icon-wrapper" data-analytics-title="get started - help me choose" href="/mac/best-mac/#help-me-choose">
<span class="icon-copy">Get started</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
<div class="router-item-picture align-middle">
<picture class="overview-routers-hmc" data-lazy="" id="overview-routers-hmc-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Mac products illustration" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-hmc">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_small.jpg, /v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_medium.jpg, /v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_large.jpg, /v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_large_2x.jpg 2x"/>
<img alt="Mac products illustration" src="/v/macbook-air/v/images/overview/routers/hmc__cjdjuxmannyq_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-environment" data-analytics-section-engagement="name:environment">
<div class="router-content-wrapper">
<div class="router-item-content">
<picture class="overview-routers-icon-environment" data-lazy="" id="overview-routers-icon-environment-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt=" " onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/icon_environment__tc0qvlmjpuqi_large.png"/>
</picture>
<noscript>
<picture class="overview-routers-icon-environment">
<source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/icon_environment__tc0qvlmjpuqi_large.png, /v/macbook-air/v/images/overview/routers/icon_environment__tc0qvlmjpuqi_large_2x.png 2x"/>
<img alt=" " src="/v/macbook-air/v/images/overview/routers/icon_environment__tc0qvlmjpuqi_large.png"/>
</picture>
</noscript>
<h2 class="router-item-headline">Designed with the <span class="accent-green">earth</span> in mind.</h2>
<p class="router-item-copy">Recycled materials. A greener supply chain. Responsible packaging. MacBook Air was engineered to be as light on the environment as it is in your hands.</p>
<p class="router-item-cta"> <a class="icon-wrapper" data-analytics-title="learn more about apple and the environment" href="/environment/">
<span class="icon-copy">Learn more about Apple and the environment</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
</div>
</div>
<div class="router-item router-item-compare full-width" data-analytics-section-engagement="name:compare">
<div class="section section-compare">
<div class="content-wrapper">
<h2 class="typography-compare-headline compare-headline large-centered">Which laptop is right for you?</h2>
<div class="compare-cta">
<a class="icon-wrapper typography-compare-cta compare-cta-elements" data-analytics-title="compare all mac models" href="/mac/compare/"><span class="icon-copy">Compare all Mac models</span><span class="icon icon-after more"></span></a> </div>
<div class="grid grid-container apple-intelligence-summer24 typography-compare-copy">
<picture class="overview-routers-compare-mba-13-15 macbook-air-13-15-product-image product-image" data-lazy="" id="overview-routers-compare-mba-13-15-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_large.png"/>
</picture>
<noscript>
<picture class="overview-routers-compare-mba-13-15 macbook-air-13-15-product-image product-image">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_small.png, /v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_small_2x.png 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_medium.png, /v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_medium_2x.png 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_large.png, /v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_large_2x.png 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/routers/compare_mba_13_15__caznvrb61zyu_large.png"/>
</picture>
</noscript>
<picture class="overview-routers-compare-4-swatches macbook-air-13-15-product-swatch product-swatch" data-lazy="" id="overview-routers-compare-4-swatches-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Available in Sky Blue, Silver, Starlight, and Midnight" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/compare_4_swatches__fne5w29xx56y_large.png"/>
</picture>
<noscript>
<picture class="overview-routers-compare-4-swatches macbook-air-13-15-product-swatch product-swatch">
<source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/compare_4_swatches__fne5w29xx56y_large.png, /v/macbook-air/v/images/overview/routers/compare_4_swatches__fne5w29xx56y_large_2x.png 2x"/>
<img alt="Available in Sky Blue, Silver, Starlight, and Midnight" src="/v/macbook-air/v/images/overview/routers/compare_4_swatches__fne5w29xx56y_large.png"/>
</picture>
</noscript>
<h3 class="macbook-air-13-15-product-headline typography-compare-product-name product-headline">
										MacBook Air<br/> 13” and 15”
										<span class="macbook-air-13-15-product-eyebrow product-eyebrow typography-compare-product-eyebrow">M4 chip</span>
</h3>
<p class="macbook-air-13-15-product-pricing product-pricing" data-pricing-hide="macbook-air"><span data-pricing-product="macbook-air" data-product-template="${price.display.from}"></span><span data-acmi="" data-pricing-hide="macbook-air" data-pricing-product="macbook-air" data-product-template=" or ${price.display.perMonth} for ${price.display.months} mo."></span><span data-acmi="" data-pricing-hide="macbook-air"><span class="footnote footnote-supglyph"><a aria-label="Footnote ** symbol" data-modal-close="" href="#footnote-2">**</a></span></span>
</p>
<p class="macbook-air-13-15-product-display product-display">13.6-inch or 15.3-inch Liquid Retina display<sup class="footnote footnote-number"><a aria-label="Footnote 27" data-modal-close="" href="#footnote-30">27</a></sup></p>
<p class="macbook-air-13-15-product-processor product-processor">Apple M4 chip</p>
<p class="macbook-air-13-15-product-intelligence product-intelligence">Apple Intelligence<sup class="footnote footnote-number"><a aria-label="Footnote 2" data-modal-close="" href="#footnote-5">2</a></sup></p>
<p class="macbook-air-13-15-product-memory product-memory">16GB to 32GB <br class="small"/>unified memory</p>
<p class="macbook-air-13-15-product-storage product-storage">256GB to <br class="small"/>2TB storage<sup class="footnote footnote-number"><a aria-label="Footnote 28" data-modal-close="" href="#footnote-31">28</a></sup></p>
<p class="macbook-air-13-15-product-battery product-battery">Up to <br class="small"/>18 hours battery life<sup class="footnote footnote-number"><a aria-label="Footnote 1" data-modal-close="" href="#footnote-4">1</a></sup></p>
<p class="macbook-air-13-15-product-biometrics product-biometrics">Touch ID</p>
<div class="macbook-air-13-15-button-wrapper button-wrapper">
<a aria-label="Buy, MacBook Air" class="button button-reduced compare-button" data-analytics-title="buy - macbook air 13 and 15 inch" href="/us/shop/goto/buy_mac/macbook_air">
											Buy
										</a>
</div>
<picture class="overview-routers-compare-mbp-14-16 macbook-pro-14-16-product-image product-image" data-lazy="" id="overview-routers-compare-mbp-14-16-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_large.png"/>
</picture>
<noscript>
<picture class="overview-routers-compare-mbp-14-16 macbook-pro-14-16-product-image product-image">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_small.png, /v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_small_2x.png 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_medium.png, /v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_medium_2x.png 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_large.png, /v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_large_2x.png 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/routers/compare_mbp_14_16__f7ovwhzitq6i_large.png"/>
</picture>
</noscript>
<picture class="overview-routers-compare-mbp-swatches macbook-pro-14-16-product-swatch product-swatch" data-lazy="" id="overview-routers-compare-mbp-swatches-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="Available in Space Black and Silver" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/compare_mbp_swatches__wbcyasy3ria2_large.png"/>
</picture>
<noscript>
<picture class="overview-routers-compare-mbp-swatches macbook-pro-14-16-product-swatch product-swatch">
<source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/compare_mbp_swatches__wbcyasy3ria2_large.png, /v/macbook-air/v/images/overview/routers/compare_mbp_swatches__wbcyasy3ria2_large_2x.png 2x"/>
<img alt="Available in Space Black and Silver" src="/v/macbook-air/v/images/overview/routers/compare_mbp_swatches__wbcyasy3ria2_large.png"/>
</picture>
</noscript>
<h3 class="macbook-pro-14-16-product-headline typography-compare-product-name product-headline">
										MacBook Pro 14” and 16”
										<span class="macbook-pro-14-16-product-eyebrow product-eyebrow typography-compare-product-eyebrow">M4, M4 Pro, <br class="medium"/>or M4 Max chip</span>
</h3>
<p class="macbook-pro-14-16-product-pricing product-pricing" data-pricing-hide="macbook-pro"><span data-pricing-product="macbook-pro" data-product-template="${price.display.from}"></span><span data-acmi="" data-pricing-hide="macbook-pro" data-pricing-product="macbook-pro" data-product-template=" or ${price.display.perMonth} for ${price.display.months} mo."></span><span data-acmi="" data-pricing-hide="macbook-pro"><span class="footnote footnote-supglyph"><a aria-label="Footnote ** symbol" data-modal-close="" href="#footnote-2">**</a></span></span>
</p>
<p class="macbook-pro-14-16-product-display product-display">14.2-inch or 16.2-inch <br class="large"/>Liquid Retina XDR display<sup class="footnote footnote-number"><a aria-label="Footnote 27" data-modal-close="" href="#footnote-30">27</a></sup></p>
<p class="macbook-pro-14-16-product-processor product-processor">Apple M4, M4 Pro,<br class="medium"/><br class="large"/> or M4 Max chip</p>
<p class="macbook-pro-14-16-product-intelligence product-intelligence">Apple Intelligence<sup class="footnote footnote-number"><a aria-label="Footnote 2" data-modal-close="" href="#footnote-5">2</a></sup></p>
<p class="macbook-pro-14-16-product-memory product-memory">16GB to 128GB <br class="small"/>unified memory</p>
<p class="macbook-pro-14-16-product-storage product-storage">512GB to <br class="small"/>8TB storage<sup class="footnote footnote-number"><a aria-label="Footnote 28" data-modal-close="" href="#footnote-31">28</a></sup></p>
<p class="macbook-pro-14-16-product-battery product-battery">Up to <br class="small"/>24 hours battery life<sup class="footnote footnote-number"><a aria-label="Footnote 29" data-modal-close="" href="#footnote-32">29</a></sup></p>
<p class="macbook-pro-14-16-product-biometrics product-biometrics">Touch ID</p>
<div class="macbook-pro-14-16-button-wrapper button-wrapper">
<a aria-label="Buy, MacBook Pro" class="button button-reduced compare-button" data-analytics-title="buy - 14 and 16 inch macbook pro" href="/us/shop/goto/buy_mac/macbook_pro">
											Buy
										</a>
</div>
<div class="macbook-pro-14-16-compare-link compare-link">
<a aria-label="Learn more about MacBook Pro 14 inch and 16 inch with M4 chip, M4 pro chip or M4 max chip" class="icon-wrapper" data-analytics-title="learn more about macbook pro 14 and 16" href="/macbook-pro/"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a> </div>
</div>
</div>
</div>
</div>
<div class="router-item router-item-tradein" data-analytics-section-engagement="name:trade-in">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-eyebrow">Apple Trade In</h2>
<h3 class="router-item-headline">Get credit toward a new MacBook Air.</h3>
<p class="router-item-copy">Just trade in your eligible computer for credit or recycle it for free. It’s good for you and the planet.<sup class="footnote footnote-number"><a aria-label="Footnote 26" data-modal-close="" href="#footnote-29">26</a></sup></p>
<p class="router-item-cta"> <a aria-label="See what your device is worth" class="icon-wrapper" data-analytics-title="see what your device is worth" href="/us/shop/goto/trade_in#mac">
<span class="icon-copy">See what your device is worth</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
<div class="router-item-picture align-bottom">
<picture class="overview-routers-tradein" data-lazy="" id="overview-routers-tradein-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="A hand slides a MacBook with stickers on the cover toward two hands holding a new MacBook in the box" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-tradein">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_small.jpg, /v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_medium.jpg, /v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_large.jpg, /v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_large_2x.jpg 2x"/>
<img alt="A hand slides a MacBook with stickers on the cover toward two hands holding a new MacBook in the box" src="/v/macbook-air/v/images/overview/routers/tradein__bi5ruhurwe82_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-apple-card" data-analytics-section-engagement="name:acmi">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-eyebrow">Apple Card</h2>
<h3 class="router-item-headline">Get 3% Daily Cash back with Apple Card.</h3>
<p class="router-item-copy">And pay over time, interest-free when you choose to check out at Apple with Apple Card Monthly Installments.<span class="footnote footnote-supglyph"><a aria-label="Footnote † symbol" data-modal-close="" href="#footnote-3">†</a></span></p>
<p class="router-item-cta"> <a aria-label="Learn more about Apple Card" class="icon-wrapper" data-analytics-title="learn more about apple card" href="/apple-card/">
<span class="icon-copy">Learn more</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
<div class="router-item-picture align-bottom">
<picture class="overview-routers-acmi" data-lazy="" id="overview-routers-acmi-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="One hand holding an iPhone with financial information on screen and other hand holding an Apple Card" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-acmi">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_small.jpg, /v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_medium.jpg, /v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_large.jpg, /v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_large_2x.jpg 2x"/>
<img alt="One hand holding an iPhone with financial information on screen and other hand holding an Apple Card" src="/v/macbook-air/v/images/overview/routers/acmi__exv1gmpbb5m6_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-education-pricing full-width full-split" data-analytics-section-engagement="name:education pricing">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-eyebrow">Education Pricing</h2>
<h3 class="router-item-headline">Save on a new <span class="nowrap">MacBook Air.</span></h3>
<p class="router-item-copy">Students and educators can save exclusively through the Apple Store.<span class="footnote footnote-supglyph"><a aria-label="Footnote * symbol" data-modal-close="" href="#footnote-1">*</a></span></p>
<p class="router-item-cta"> <a aria-label="Shop MacBook Air" class="icon-wrapper" data-analytics-title="shop - macbook air education pricing" href="/us-edu/store">
<span class="icon-copy">Shop</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
<div class="router-item-picture align-middle">
<picture class="overview-routers-education-pricing" data-lazy="" id="overview-routers-education-pricing-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="A MacBook Air displaying an Adobe InDesign project" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-education-pricing">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_small.jpg, /v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_medium.jpg, /v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_large.jpg, /v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_large_2x.jpg 2x"/>
<img alt="A MacBook Air displaying an Adobe InDesign project" src="/v/macbook-air/v/images/overview/routers/education_pricing__dq8pdp0j2qmq_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-business theme-dark full-bleed link-color-alternate" data-analytics-section-engagement="name:apple at work">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-headline">Apple at Work</h2>
<p class="router-item-copy">Get the power to take your business to the next level.</p>
<ul class="router-item-cta links-stacked">
<li> <a class="icon-wrapper" data-analytics-title="learn about apple at work" href="/business/">
<span class="icon-copy">Learn about Apple at Work</span><span class="icon icon-after more"></span>
</a>
</li>
<li> <a class="icon-wrapper" data-analytics-title="learn more about mac for business" href="/business/mac/">
<span class="icon-copy">Learn more about Mac for business</span><span class="icon icon-after more"></span>
</a>
</li>
</ul>
</div>
<div class="router-item-picture">
<picture class="overview-routers-business" data-lazy="" id="overview-routers-business-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-business">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_small.jpg, /v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_medium.jpg, /v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_large.jpg, /v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_large_2x.jpg 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/routers/business__otlt2eyu8hmy_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
<div class="router-item router-item-education theme-dark full-bleed link-color-alternate" data-analytics-section-engagement="name:education">
<div class="router-content-wrapper">
<div class="router-item-content">
<h2 class="router-item-headline">Apple and Education</h2>
<p class="router-item-copy">Helping educators and students<br/> move the world forward.</p>
<p class="router-item-cta"> <a class="icon-wrapper" data-analytics-title="learn more about apple and education" href="/education/">
<span class="icon-copy">Learn about Apple and Education</span><span class="icon icon-after more"></span>
</a>
</p>
</div>
<div class="router-item-picture">
<picture class="overview-routers-education" data-lazy="" id="overview-routers-education-1">
<source data-empty="" media="(min-width:0px)" srcset="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
<img alt="" onload="__lp(event)" src="/v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_large.jpg"/>
</picture>
<noscript>
<picture class="overview-routers-education">
<source media="(max-width:734px)" srcset="/v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_small.jpg, /v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_small_2x.jpg 2x"/><source media="(max-width:1068px)" srcset="/v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_medium.jpg, /v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_medium_2x.jpg 2x"/><source media="(min-width:0px)" srcset="/v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_large.jpg, /v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_large_2x.jpg 2x"/>
<img alt="" src="/v/macbook-air/v/images/overview/routers/education__depfgxhrs2oi_large.jpg"/>
</picture>
</noscript>
</div>
</div>
</div>
</div>
</div>
</section>