<section class="ribbon ribbon-bts-2025 static-light macbook-air-product-page-ribbon" data-analytics-activitymap-region-id="bts 2025 ribbon" data-toggle-bts-2025="acmi">
<div class="ac-ribbon__bts-2025">
<div class="">
<div class="ac-ribbon__bts-2025-content-wrapper">
<div class="ac-ribbon__bts-2025-content row">
<div class="row large-12 large-centered ac-ribbon__bts-2025-container">
<p class="ac-ribbon__bts-2025-content-copy bts-2025-sup">
							Buy MacBook Air starting at $899 with education savings, get AirPods or an eligible accessory of your choice.<sup><span class="bts-2025-footnote footnote"><a aria-label="Footnote Δ symbol" href="#footnote-bts-2025">Δ</a></span></sup>
<a aria-label="Shop, Back to School Savings" class="icon-wrapper ac-ribbon__bts-2025-link bts-2025-link" data-analytics-title="shop back to school savings" href="/us-edu/shop/goto/edu_store"><span class="icon-copy">Shop</span><span class="icon icon-after more"></span></a> </p>
</div>
</div>
</div>
</div>
</div>
</section>